body,
html {
  width: 100%;
  height: 100%;
  text-align:center;
  font-family: 'Indie Flower', cursive;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


hr {
 
  margin-top: 1px;
  margin-bottom:20px;
  border-style: solid;
  border-width: 1px;
  text-align:center;
  width:250px;
  height:2px;
  background-color: black;
}


h1{
  
  font-family: 'Indie Flower', cursive;
  font-size:35px;
  color:#405d27;
  font-weight:bold;
  font-style: italic;
  text-transform: uppercase;
}


.in-midle{
  margin:180px;

}

.h1blink{
  transition:all 1s;  
}

.h1blink:hover{

color:#82b74b;
font-weight:bold;
border:1px;
border-color:black;  
transform: scale(1.1);
}



.but{

  background-color:#405d27;
  border-color:#405d27;
  border:4px; 
  width:75px;
  height:35px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  
}

.but:hover{
  background-color: #82b74b;
  border-color:#82b74b;
  border-width:4px;
  color:white;

}

.btn-primary{
      color:black;
      background-color:#405d27; 
      border:none; 
      border-radius: 200px;

} 


.btn-primary:hover {
  background-color: #82b74b;
  border-color:#82b74b;
  border-width:4px;
}
/*
.box-container{
  text-align:center;
}

.box{
  background-color: black;  
  width:500px;
  height:200px;
  display: inline-block;
  justify-content: center;
}
*/